:root {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #ffffff;
  --light-purple: #6a68ff;
  --purple: #5552e8;
  --dark-purple: #4341b8;
  --light-gray: rgb(228, 228, 228);
  --gray: #ccc;
  --background-gray: #f5f5f5;
  --font-gray: #5e5e5e;

  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 350px;
}

@media (min-width: 1201px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  /*  Contact*/
  .contact form {
    justify-content: center;
    flex-direction: column;
  }

  /*footer  */
}

@media (min-width: 769px) {
  /* general */
  .title {
    font-size: 48px;
  }

  .btn {
    font-size: 18px;
  }

  .btn-white {
    font-size: 18px;
  }

  /* Preview */

  .desc {
    font-size: 22px;
    margin: 38px 0 24px;
  }

  /*Automation  */
  .automation .content {
    max-width: 65%;
  }

  /*  Contact*/

  /*footer  */
}

@media (max-width: 768px) {
  /* general */
  .title {
    font-size: 40px;
  }

  .btn {
    font-size: 16px;
  }

  .btn-white {
    font-size: 16px;
  }

  /* Preview */

  .desc {
    font-size: 20px;
    margin: 28px 0 20px;
  }

  /*Automation  */
  .automation .content {
    max-width: 80%;
  }

  /*  Contact*/
  /*footer  */
}

@media (max-width: 480px) {
  /* general */
  .title {
    font-size: 32px;
  }

  .modal {
    width: 100vw;
  }

  .modal-content {
    width: 100%;
    margin: 0;
  }

  /* Preview */
  .desc {
    font-size: 16px;
    margin: 20px 0;
  }

  /*  Contact*/

  .contact .modal-content {
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  /*footer  */
}

/* general */
.title {
  margin: 0;
  font-weight: 700;
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.background-img-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.background-img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.btn {
  background-color: var(--purple);
  color: white;
  padding: 1.25rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 1.25rem;
  transition: all ease 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.btn:hover {
  background-color: var(--dark-purple);

  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn:active {
  background-color: var(--dark-purple);

  transform: translateY(0px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-white {
  color: var(--purple);
  background-color: #ffffff;
  padding: 1.25rem 2rem;
  border: 1px solid var(--light-gray);
  cursor: pointer;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-weight: 500;
}

.btn-white:hover {
  background-color: var(--background-gray);
  color: var(--purple);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn-white:active {
  background-color: var(--light-gray);
  color: var(--light-purple);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(0px);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 20px;
}

.card {
  width: 255px;
  height: 161px;
  object-fit: contain;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.modal.show {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.modal.hide {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.modal-content {
  background-color: #ffffff;
  position: relative;
  padding: 5px 20px 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.cancel-btn {
  position: absolute;
  color: var(--purple);
  top: 16px;
  right: 16px;
  width: 32px;
  cursor: pointer;
}

/* Preview */
.preview {
  text-align: center;
  color: white;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.preview-content {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.preview-content .title {
  max-width: 1400px;
  margin: 0 auto;
  line-height: 1.3;
}

.preview-content .desc {
  max-width: 750px;
}

.preview .arrow {
  position: absolute;
  bottom: 2rem;
  color: white;
  outline: none;
  border: none;
  background: none;
  scale: 1;
  transition: all ease 0.2s;
  cursor: pointer;
}

.preview .arrow:hover {
  color: rgb(191, 191, 191);
  scale: 1.2;
}

/*Automation  */

.automation {
  padding: 40px 20px;
  position: relative;
  color: rgb(255, 255, 255);
  height: 570px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  Contact*/

.contact .modal-content {
  padding: 120px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .modal-content form {
  justify-content: center;
}

.contact .modal-content input {
  border: 2px solid var(--light-gray);
}

.contact .modal-content {
  color: #000000;
}

.contact .modal-content p {
  color: #000000;
}

/*footer  */
.contact-section {
  text-align: center;
  padding: 50px 20px;
  background-color: var(--background-gray);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-section .title {
  font-size: 32px;
  margin: 0 0 2rem;
}

.company-info {
  max-width: 430px;
  font-size: 18px;
  line-height: 1.4;
}

/* Animations  */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes goLeft {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes goRight {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(200px);
  }
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}
